main {
    display: grid;
    width: 100%;
    min-height: calc(100vh - 140px);
    flex-grow: 1;
    background: linear-gradient(
        var(--clr-pink),
        #B525559d
    ),
    url(../assets/branding/pattern-04.webp);
    position: relative;
}
p {
    padding: 1em;
}
section {
    position: absolute;
    background: url(../assets/branding/background-02.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right bottom;
    padding: 2em;
    padding-top: calc(60px + 2em);
    bottom: 0;
    right:0;
    width: 100vw;
    height: 100%;
    color: var(--clr-white);
}

textarea {
    max-width: 100%;
    max-height: 200px;
    resize: vertical;
    padding: 1.5em;

    white-space: pre-wrap;
    word-wrap: break-word;
}


input[type="text"], input[type="email"] , textarea {
    background-color: #d4d6ee38;
    border-radius: 30px;
    padding: 1em;
    box-sizing: border-box;
    border: none;
    width: 100%;
    color: var(--clr-white);
}

input[type="text"]:focus, input[type="email"]:focus , textarea:focus {
    outline: 2px solid var(--clr-white);
}
#contact-form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#submit-btn {
    background: transparent;
    width: 100%;
    color: var(--clr-white);
}

@media (min-width: 1024px) {
    #contact-form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
        flex: 1;
    }

    #name, #email {
        width: calc(50% - 5px);
        height: 50px;
        padding: 12px;
    }
}