/* Header */
header {
    Background-color: var(--clr-purple);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    min-height: 60px;
    top: 0;
    width: 100%;
    z-index: 5;
    padding: 0 1.5em;
}

.header-logo {
    display: block;
    user-select: none;
    max-width: 100px;
    z-index: 2000;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#cart-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 25px;
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-right: 11px;
    color: var(--clr-white);
    z-index: 1000;
}

#item-count {
    background: var(--clr-white);
    color: var(--clr-purple);
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 13px;
    position: absolute;
    top: 0px;
    right: 0px;
    min-width: 18px;
    height: 18px;
    line-height: 14px;
    text-align: center;
    font-weight: 700;
    user-select: none;
    box-sizing: border-box;
}

.nav-toggle {
    background: transparent;
    cursor: pointer;
    position: fixed;
    padding: .5em;
    border: 0;
    right: 70px;

    z-index: 1000;    
}

.nav {
    background: linear-gradient(
        var(--clr-purple),
        #1D4F919d
    ),
    url(../assets/branding/pattern-02.webp);

    position: fixed;
    color: var(--clr-blue);
    top: 0;
    bottom: 0;
    Left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    Flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__list a {
    font-family: var(--ff-primary);
    color: var(--clr-white);
    text-decoration: none;
    user-select: none;
}

.nav__list a:hover {
    color: var(--clr-yellow);
}

.nav__list a:active {
    color: var(--clr-white);
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-10px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-white);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: 250ms;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {top: 10px;}
.hamburger::after { bottom: 10px;}

/* Button styles - inspired by the real Krabooz web design */
.btn {
    text-decoration: none;
    border: 2px solid var(--clr-white);
    color: var(--clr-white);
    padding: 10px;
    border-radius: 30px;
    transition: all .25s;
    position: relative;
    overflow: hidden;
    display: grid;
    width: 9em;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--ff-primary);
    font-size: 14pt;
    z-index: 1;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-white);
    transition: all .25s;
    z-index: -1;
    transform: translateY(-100%);
}

.btn:hover::before { transform: translateX(0); }
.btn:hover { color: var(--clr-blue); }

/* Footer links */
.social-list { 
    display: flex; 
    Justify-content: center; 
    gap: 15px;
    padding-top: 2em;
}

.list_item {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-btn {
    text-decoration: none;
    border: 2px solid var(--clr-white);
    color: var(--clr-white);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: grid;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.social-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .25s;
    z-index: -1;
    transform: translateY(-100%);
}

.social-btn:nth-child(1)::before {
    background: #ff0000;
}

.social-btn:nth-child(2)::before {
    background: #00aced;
}

.social-btn:nth-child(3)::before {
    background:  #4267B2;
}

.social-btn:nth-child(4)::before {
    background: linear-gradient(180deg, #515BD4, #8134af, #dd2a7b, #f58529, #feda77);
}

.social-btn:hover::before {
    transform: translateX(0);
}

.social-icon {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.breadcrumbs ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none !important;
    padding: 0;
    margin-bottom: 20px;
    font-family: calibri, sans-serif;
    font-size: 0.9rem;
}

.breadcrumbs li:not(:last-child)::after {
    content: ">";
    margin: 0 10px;
    pointer-events: none;
}

@media (min-width: 1024px) {
    .nav-toggle {
        display: none;
    }
    .nav {
        background: transparent;
        position: relative;
        color: var(--clr-blue);
        top: 0;
        bottom: 0;
        Left: 0;
        right: 0;
        z-index: 100;
        transform: translateX(0%);
    }

    .nav__list {
        display: flex;
        gap: 25px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        margin-right: 35px;
    }

    .btn {
        margin-left: 0;
    }
}