/* List styles */
main ul {
    margin-top: 0.5em;
    padding-left: 1.5em;
}

main li {
    padding-left: 10px;
    padding-bottom: 8px;
}

main li::marker {
    content: "\279c";
}

h1, h2, h3 {
    Font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
}

h1,
h2,
h3 {
    line-height: 0.8em;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); margin-bottom: 0.5em; }
h3 { font-size: var(--fs-h3) }

small {
    position: absolute;
    bottom: 5px;
    left: 10px;
    right: 10px;
    color: rgb(91, 57, 119);
}

h2:not(#about h2) { margin-top: 2em; }

@media (min-width: 1024px)  {
    h2:not(#about h2) {
        margin-top: 0;
    }
}
